.resize-page {
  display: flex;
  padding: 16px;
  background-color: #fff;

  &__configs {
    display: flex;
    flex-direction: column;
    gap: 32px;

    padding: 32px 48px;

    &__title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    &__pixels {
      display: flex;
      gap: 16px;
    }

    &__percentage {
      display: flex;
      gap: 16px;
    }
  }

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }

  // Custom components
  p-fileupload::ng-deep .p-fileupload {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    border: dotted 4px #000;
    border-radius: 8px;

    p-button .p-button {
      color: #ffffff;
      background: #22c55e;
      border: 1px solid #22c55e;
    }

    .p-fileupload-buttonbar {
      display: flex;
      justify-content: center;
      padding: 1.25rem 0;
      border: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    .p-fileupload-content {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      border: 0;
      color: #000;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      .p-button-icon-only {
        color: #ffffff;
        background: #ef4444;
        border: 1px solid #ef4444;
      }
    }

    .no-fileupload {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 2rem;
        font-weight: bold;
        margin: 16px 0 8px;
      }

      span {
        font-size: 1rem;
        color: gray;
      }
    }

    .p-fileupload-row {
      text-align: center;
      > div:last-child {
        text-align: center !important;
      }
    }

    .p-progressbar {
      display: none;
      visibility: hidden;
    }

    @media (max-width: 1200px) {
      .p-fileupload-content {
        margin: 32px 0;
      }

      .no-fileupload {
        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  p-inputnumber::ng-deep input.p-inputnumber-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
