<div class="resize-page">
  <div class="col-6">
    <p-fileUpload
      [customUpload]="true"
      (uploadHandler)="uploadHandler($event)"
      (onSelect)="onSelect($event)"
      (onRemove)="onRemove()"
      [multiple]="false"
      accept="image/*"
      [maxFileSize]="5 * 1000000"
      [showCancelButton]="false"
      chooseLabel="Selecione uma imagem"
    >
      <ng-template pTemplate="content">
        <div class="no-fileupload" *ngIf="!fileToUpload">
          <i class="pi pi-image" style="font-size: 4rem"></i>
          <p>Arraste e solte uma imagem aqui</p>
          <span>tamanho máximo permitido: 5MB</span>
        </div>
      </ng-template>
    </p-fileUpload>
  </div>
  <div class="resize-page__configs col-6">
    <p class="resize-page__configs__title">Custom resize</p>
    <div class="resize-page__configs__pixels">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input type="text" id="inputgroup" pInputText [(ngModel)]="width" />
          <label for="inputgroup">Largura</label>
        </span>
        <span class="p-inputgroup-addon">px</span>
      </div>
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input type="text" id="inputgroup" pInputText [(ngModel)]="height" />
          <label for="inputgroup">Altura</label>
        </span>
        <span class="p-inputgroup-addon">px</span>
      </div>
    </div>
    <div class="resize-page__configs__percentage">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input type="text" id="inputgroup" pInputText [(ngModel)]="xScale" />
          <label for="inputgroup">Horizontal</label>
        </span>
        <span class="p-inputgroup-addon">%</span>
      </div>
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input type="text" id="inputgroup" pInputText [(ngModel)]="yScale" />
          <label for="inputgroup">Vertical</label>
        </span>
        <span class="p-inputgroup-addon">%</span>
      </div>
    </div>
    <p-checkbox
      label="Manter taxa de proporção"
      [(ngModel)]="lockAspectRatio"
      [binary]="true"
    ></p-checkbox>
  </div>
</div>
