<div class="resize-page">
  <div class="col-6">
    <p-fileUpload
      [customUpload]="true"
      (uploadHandler)="uploadHandler($event)"
      (onSelect)="onSelect($event)"
      (onRemove)="onRemove()"
      [multiple]="false"
      accept="image/*"
      [maxFileSize]="5 * 1000000"
      [showCancelButton]="false"
      chooseLabel="Selecione uma imagem"
    >
      <ng-template pTemplate="content">
        <div class="no-fileupload" *ngIf="!fileToUpload">
          <i class="pi pi-image" style="font-size: 4rem"></i>
          <p>Arraste e solte uma imagem aqui</p>
          <span>tamanho máximo permitido: 5MB</span>
        </div>
      </ng-template>
    </p-fileUpload>
  </div>
  <div class="resize-page__configs col-6">
    <p class="resize-page__configs__title">Custom resize</p>
    <div class="resize-page__configs__pixels">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <p-inputNumber
            [ngModel]="width"
            [disabled]="lockAspectRatio"
            [min]="0"
            mode="decimal"
            [useGrouping]="false"
          >
          </p-inputNumber>
          <label for="inputgroup">Largura (Width)</label>
        </span>
        <span class="p-inputgroup-addon">px</span>
      </div>
      <div class="p-inputgroup">
        <span class="p-float-label">
          <p-inputNumber
            [ngModel]="height"
            [disabled]="lockAspectRatio"
            [min]="0"
            mode="decimal"
            [useGrouping]="false"
          >
          </p-inputNumber>
          <label for="inputgroup">Altura (Height)</label>
        </span>
        <span class="p-inputgroup-addon">px</span>
      </div>
    </div>
    <div class="resize-page__configs__percentage">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <p-inputNumber
            [ngModel]="xScale"
            (ngModelChange)="onChangeXScale($event)"
            [disabled]="!lockAspectRatio"
            [min]="0"
            mode="decimal"
            [useGrouping]="false"
          >
          </p-inputNumber>
          <label for="inputgroup">Horizontal (X)</label>
        </span>
        <span class="p-inputgroup-addon">%</span>
      </div>
      <div class="p-inputgroup">
        <span class="p-float-label">
          <p-inputNumber
            [ngModel]="yScale"
            (ngModelChange)="onChangeYScale($event)"
            [disabled]="!lockAspectRatio"
            [min]="0"
            mode="decimal"
            [useGrouping]="false"
          >
          </p-inputNumber>
          <label for="inputgroup">Vertical (Y)</label>
        </span>
        <span class="p-inputgroup-addon">%</span>
      </div>
    </div>
    <p-checkbox
      label="Manter taxa de proporção (apenas para %)"
      [(ngModel)]="lockAspectRatio"
      [binary]="true"
    ></p-checkbox>
  </div>
</div>
<!-- JUST TO TEST -->
<div *ngIf="hasImageConverted">
  <a
    [download]="hasImageConverted?.originalname"
    [href]="hasImageConverted?.base64"
    [title]="hasImageConverted?.originalname"
  >
    <img
      [alt]="hasImageConverted?.originalname"
      [src]="hasImageConverted?.base64"
    />
  </a>
</div>
